
.product{
    width: 100%;
    height: 520px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product-info{
}
.product img{
    width: 299px;
    height: 286px;
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 8px;

}
.product-details{
    margin-left: 28px;
}
.product-name{
    color: #0E161A;
    margin-top: 12px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.0015em;
}
.product-info h3{
    color: #0E161A;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.0015em;
    margin-top: 10px;
    margin-bottom: 40px;
}
.product-info p{
    color: #2A414F;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.004em;
    margin-bottom: 10px;
}
.btn-cart{
    width: 100%;
    background-color: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding: 15px;
}
.btn-cart .btn-text{
    margin-right: 5px;
    color: #0E161A;
}
.btn-cart p{
    color: #0E161A;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.0125em;
}
.btn-cart:hover{
    background-color: orange;
}
.btn-cart .btn-add-icon{
    color: #0E161A;
    width: 17px;
    height: 17px;
}